<div class="container mb-4">
  <div class="row">
    <div class="col">
      <h3 class="mb-4 text-muted">{{ user.knownAs }}'s Profile</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ user.photoUrl }}" alt="{{ user.knownAs }}">
        <div class="card-body">
          <div>
            <h6 class="mb-0">Location</h6>
            <p>{{ user.city }} {{ user.country }}</p>
          </div>

          <div>
            <h6 class="mb-0">Age</h6>
            <p>{{ user.age }}</p>
          </div>

          <div>
            <h6 class="mb-0">Last Active</h6>
            <p>{{ user.lastActive }}</p>
          </div>

          <div>
            <h6 class="mb-0">Member since</h6>
            <p>{{ user.created }}</p>
          </div>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-outline-secondary w-100">Message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="card">
        <div class="card-body tab-panel">
          <tabset class="member-tab-set">
            <tab heading="About {{ user.knownAs }}">
              <h5 class="mt-4">Description</h5>
              <p>{{ user.introduction }}</p>
              <h5>Looking For</h5>
              <p>{{ user.lookingFor }}</p>
            </tab>

            <tab heading="Interests">
              <h5 class="mt-4">Interests</h5>
              <p>{{ user.interests }}</p>
            </tab>

            <tab heading="Photos">
              <h5 class="mt-4">Photos</h5>
              <ngx-gallery [images]="galleryImages" [options]="galleryOptions"></ngx-gallery>
            </tab>

            <tab heading="Messages">
              <h5 class="mt-4">Messages</h5>
              <p>TODO...</p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
