.card {
  width: 12rem;
}

.card img {
  transform: scale(1);
  transition: .1s ease-out;
  max-width: 100%;
}

.card:hover img {
  transform: scale(1.1);
  transition: .3s ease-out;
  opacity: .8;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  cursor: pointer;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}
